<%- model_class = UserBook -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div>
  <table border="1" class="mytable">
    <tr>
      <td><%= model_class.human_attribute_name(:id) %></td>
      <td><%= model_class.human_attribute_name(:user_id) %></td>
      <td><%= model_class.human_attribute_name(:book_id) %></td>
      <td><%= model_class.human_attribute_name(:start_date) %></td>
      <td><%= model_class.human_attribute_name(:return_date) %></td>
      <td><%= model_class.human_attribute_name(:is_damage) %></td>
      <td>Action</td>
    </tr>
    <% @user_books.each do |user_book| %>
        <tr>
          <td><%= link_to user_book.id, user_book_path(user_book) %></td>
          <td><%= user_book.user.name %></td>
          <td><%= user_book.book.name %></td>
          <td><%= user_book.start_date %></td>
          <td><%= user_book.return_date %></td>
          <td><%= user_book.is_damage %></td>
          <td>
          <span>
             <%= link_to t('.edit', :default => t("helpers.links.edit")),
                         edit_user_book_path(user_book), :class => 'btn btn-default btn-xs' %> |
          </span>
            <span>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        user_book_path(user_book),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </span>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<br/>
<%= link_to "New User",
            new_user_book_path,
            :class => 'btn btn-primary' %>

